* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: rgb(129, 179, 129);
    display: flex;
    align-items: center;
    justify-content: center;
}

#panel {
    height: 80%;
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

#ptop {
    height: 80px;
    width: 100%;
    background-color: rgb(14, 94, 14);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.elem {
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 4px;
    margin-right: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(59, 141, 59);
}

h2 {
    color: white;
    font-size: 20px;
}

#pbtm {
    height: calc(100% - 80px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

#bubble {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: rgb(54, 154, 54);
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#bubble:hover {
    background-color: rgb(17, 86, 17);
}